.modal__display {
    font-family: 'Ubuntu', sans-serif;
    padding: 20px;
    border-radius: 25px;
    background-color: #fff;
    height: 300px;
    width: 400px;
    position: relative;
    .modal__close {
        position: absolute;
        right: 0;
        top: 0;
        border: 0;
        background: none;
        color: #000;
        font-size: 25px;
        cursor: pointer;
        padding: 30px;
        display: block;
    }
    .modal__data {
        margin-top: 75px;
        margin-left: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .data_wrapper {
            display: flex;
            flex-direction: column;
            .name {
                font-weight: 500;
                font-size: 25px;
            }
            .descr {
                font-weight: 300;
                font-size: 15px;
            }
        }
        button {
            margin: 0;
        }
    }
}

.modal__display.active {
     transform: scale(1);
}


    